{% extends 'base.html.twig' %}

{% block title %}Départements{% endblock %}

{% block body %}
    <h1>Départements</h1>
    <ul>
        {% for department in departments %}
            <li><a href="{{ path('app_town', {region: department.region.code, department: department.code}) }}">{{ department.code }} - {{ department.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ path('app_region') }}">Back</a>

{% endblock %}
